body {
  color: #4e4949;
  font-family: 'Arial', sans-serif;
  background-color: #fffdf9;
  font-size: 1em;
}

.available-swappers {
  font-size: 1em;
  margin-left: 1em;
  color: #4e4949;
}

.browse-listings {
  padding: 1em;
}

.instructions {
  font-weight: bold;
}

.return-link {
  margin-left: 1em;
  font-size: 0.9em;
}

.swapper-card {
  background-color: #c4d8bf;
  margin: 0.5em;
  max-height: 400px;
  overflow-y: auto;
  width: 90%;
  border-radius: 0.2em;
  font-size: 0.8em;
  border: 3px solid #137C8B;
  padding: 5px;
}

.swapper-card::-webkit-scrollbar {
  width: 8px;
}

.swapper-card::-webkit-scrollbar-thumb {
  background-color: #137C8B;
  border-radius: 4px;
}

.swapper-card:hover {
  position: relative;
  border-color: #137C8B;
  animation: sparkle 1.2s linear infinite;
  box-shadow: 0 0 18px #94bcc2;
}

@keyframes sparkle {
  0% {
    box-shadow: 0 0 4px #689096, 0 0 8px #a2c0c5;
  }
  50% {
    box-shadow: 0 0 12px #689096, 0 0 24px #a2c0c5;
  }
  100% {
    box-shadow: 0 0 4px #689096, 0 0 8px #a2c0c5;
  }
}

.swapper-link {
  padding: 2px;
  border-radius: 0.2em;
}

.listing-card {
  border-left: 3px solid #137C8B;
  border-bottom: 3px solid #137C8B;
  padding: 1rem;
}

/* Modal Styles */
.modal {
  color: #4e4949;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fffdf9;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* media queries*/
@media (min-width: 600px) {
  .modal-content {
    width: 80%;
  }

  .available-swappers {
    font-size: 1.3em;
    margin-left: 1em;
  }

  .swapper-card {
    margin: 1em;
    width: 60%;
  }

  .return-link {
    margin-left: 1.3em;
    font-size: 1em;
  }

}

/* tiny screen */
@media (max-width: 400px) {
  .modal-content {
    width: 90%;
    height: auto;
    padding: 0.8rem;
    font-size: 1rem;
  }

  textarea {
    font-size: 0.85rem;
  }

  button {
    font-size: 0.85rem;
    padding: 6px 10px;
  }
}

/* Button styles */
button {
  background-color: #137C8B;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

button:hover {
  background-color: #1f9caf;
}