.home__feature {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0;
}

.book_logo {
    width: 90px;
    height: auto;
    margin-top: 0.2rem;
    animation: slow-spin 10s linear infinite;
}

.home__text {
    font-size: 1rem;
    font-weight: bold;
    color: #557F4E;
}

@media (min-width: 768px) {
    .home__feature {
        padding: 2rem;
    }
}

@media (min-width: 1024px) {
}

@keyframes slow-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}