body {
    margin: 0 auto;
    font-size: 25px;
    color: #2E2E2E;
}

.home {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.home__feature {
    border-radius: 8px;
}

/* Media queries*/

/* Tablet (768px and up) */
@media (min-width: 768px) {
    .home {
        padding: 2rem;
        gap: 2.5rem;
    }

    .home__main,
    .home__feature {
        padding: 2rem;
    }
}

/* Desktop (1024px and up) */
@media (min-width: 1024px) {
    .home {
        max-width: 1200px;
        margin: 0 auto;
    }

    .home__main,
    .home__feature {
        border-radius: 12px;
    }
}
