body {
  color: #4e4949;
  font-family: 'Arial', sans-serif;
  background-color: #fffdf9;
  width: 100%;
  margin: 0 auto;
  font-size: 1em;
}

.header-logged-in-container {
  margin-top: 0;
}

.my-books-label {
  text-align: center;
  color: #4e4949;
  font-size: 1.2em;
}

.my-book-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.my-books {
  background-color: #FFE8D6;
  width: 80%;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 0.3rem;
  border: 2px solid #D1A3A4;
}

.my-books::-webkit-scrollbar {
  width: 8px;
}

.my-books::-webkit-scrollbar-thumb {
  background-color: #D1A3A4;
  border-radius: 4px;
}

.my-books-list {
  font-size: 1rem;
  width: 70%;
}

.book-item {
  border-left: 3px solid #F96167;
  border-bottom: 2px solid #F96167;
  padding: 0.2rem;
}

a {
  text-decoration: none;
  color: #F96167;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

.my-messages-label {
  text-align: center;
  color: #4e4949;
  font-size: 1.2em;
}

link {
  text-align: center;
}

.message-box-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1em;
}

.sent-box,
.received-box {
  width: 100%;
}

.message-box {
  border: 2px solid #D1A3A4;
  padding: 1rem;
  color: #4e4949;
  border-radius: 0.2rem;
  background-color: #fffdf9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-height: 250px;
  overflow-y: auto;
}

.message-box::-webkit-scrollbar {
  width: 8px;
}

.message-box::-webkit-scrollbar-thumb {
  background-color: #D1A3A4;
  border-radius: 4px;
}

.sent-box h3,
.received-box h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #4e4949;
}

.sent,
.received {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.sent {
  background-color: #FFE8D6;
  border-left: 3px solid #F96167;
  text-align: right;
}

.received {
  background-color: #c4e2bd;
  border-left: 3px solid #137C8B;
  text-align: left;
}

.timestamp {
  font-size: 0.9rem;
  color: #686060;
}

.start-swap,
.browse-link {
  text-align: center;
  font-size: 1rem;
  border: 1px solid #F96167;
  margin: 1rem auto;
  border-radius: 1rem;
  padding: 1rem;
  width: 90%;
  max-width: 500px;
  display: block;
}

@media (min-width: 768px) {
  .dashboard-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    padding: 1rem 2em;
  }

  .my-books-section {
    flex: 1;
    margin-bottom: 0;
    margin-top: 1.2em;
  }

  .message-section {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .sent,
.received {
  margin: 1em;
}

  .user-info {
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #FFE8D6, #D1A3A4);
    border-image-slice: 1;
    margin-left: 5em;
  }

  .message-box-wrapper {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-bottom: 0;
  }

  .sent-box,
  .received-box {
    width: 100%;
    margin: 0;
  }

  .message-section h2.my-messages-label {
    margin-top: 1em;
    margin-bottom: 0;
  }


}